<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="nawsGroup">
      <section name="naws" type="Nancy.AspNet.WebSockets.Config.NawsSection, Nancy.AspNet.WebSockets"/>
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.AspNet.WebSockets.WebSocketAwareHttpHandler" path="*"/>
    </handlers>
  </system.webServer>
  <nawsGroup>
    <naws>
      <httpHandler type="Nancy.AspNet.WebSockets.Tests.Unit.FakeHttpHandler, Nancy.AspNet.WebSockets.Tests"/>
    </naws>
  </nawsGroup>
</configuration>